doctype html 
html 
    head
        link(rel="stylesheet", href="style.css")
        title  
    body 
        header 
            img(src="pug.svg", alt="pug log", width="100px")
            nav
                a(href="http://") page 1
                a(href="http://") page 2
                a(href="http://") page 3
        block content 
        br
        footer 
            p NIT&copy; 2022