doctype html 
html 
    head 
        link(rel="stylesheet", href="style.css")
    body 
        header 
            nav 
                a(href="http://localhost:3000/") insert
                a(href="http://localhost:3000/SelectAll") selectAll 
        block content 
        footer 
            p WEB&copy; 22  