<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/grid.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div id="item1">
            <h1>Geolocation attendance app</h1>
            <div id="HeaderDiv">hi</div>
        </div>
        <div id="item2">item 2 left</div>
        <div id="item3">item 3 right</div>
        <div id="item4">item 4</div>
        <div id="item5">naama tzur-ilany</div>
    </div>
</body>
</html>