<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a recap for lesson 1 in web course</title>
    <link rel="stylesheet" href="../static/recap.css">
</head>
<body>
    <h1>This is a form</h1>
    <form action="" method="">
        <h1>FORM 1</h1>
        <label class="First2" for="FullName">Enter your full name</label>
        <input type="text" name="FullName" id="FullName"><br>
        <label class="First2" for="UserEmail">Enter your Email</label>
        <input type="email" name="UserEmail" id="UserEmail"><br>  
        <label for="Comment">Enter your comment</label><br>
        <textarea name="Comment" id="Comment" cols="50" rows="5"></textarea><br>
        <input name="GoButton" type="submit" value="GO" id="GoButton">
    </form>
    <div>
        <a href="Page2.html" target="_blank">Next Page</a>
    </div>
</body>
</html>